<%= javascript_tag do %>
    window.hospital_id = <%= @hospital.id %>
    window.trackable_id = <%= @trackable.id %>
    window.controller = "trackable"
<% end %>
<div class="trackables-container">
  <div class="alert" id="alert"></div>
  <h2 class="centered-header">Tracking Record</h2>
  <div id="trackable-history-table">
    <%= render partial: "tracking_history_table", locals: {trackable_updates: @trackable_updates} %>
  </div>
</div>