<h1>AdminPanel#home</h1>
<p>Find me in app/views/admin_panel/home.html.erb</p>
<form id="spotlight-search" action="/admin_panel/make_spotlight_search">
    <input id="spotlight-search-query" type="text">
</form>
<div class="search-results-popover">

</div>