<div class="welcome-container">
  <div class="hero-container">
    <div class="hero-video-container">
        <video class="hero-video" muted autoplay loop src="http://d39f0en2brqtel.cloudfront.net/surge-header.mp4"></video>
        <div class="translucent-overlay"></div>
    </div>
    <div class="hero-text-container">
      <div class="hero-text">Found it.</div>
      <div class="hero-text hero-subtext">Find any drug. Wherever. Whenever.</div>
      <a href="#" class="hero-button">How it works</a>
    </div>
    <div class="logo">
        <%= image_tag("surge-logo.png", class:"logo") %>
    </div>
    <div class="menu">
      <a href="#" class="menu-button special">
        SIGN UP
      </a>
      <a href="#" class="menu-button">
        ABOUT
      </a>
      <a href="#" class="menu-button">
        PRICING
      </a>
      <a href="#" class="menu-button">
        LOGIN
      </a>
    </div>
  </div>
  <div class="section">
    <h1>Surge keeps track of your pharmaceutical inventory so you don't have to</h1>
    <video class="computer-drive-thru" muted autoplay loop src="https://cdn.tubemogul.com/wp-content/themes/tubemogul/_video/tubemogul_platform.mp4"></video>
  </div>
</div>
