<div class="hospitals-container">
  <div class="stats-dashboard" id="stats-dashboard">
    <p id="notice"><%= notice %></p>
    <div class="graphical-date-range-chooser" id="graphical-date-range-chooser">
      <div class="selected-box" id="selected-box"></div>
      <div class="handles" id="handles">
        <div class="handle left">
          <div class="dot"></div>
        </div>
        <div class="handle right">
          <div class="dot"></div>
        </div>
      </div>
    </div>
    <div class="bipartite-graph" id="bipartite-graph"></div>
  </div>
</div>