<h1>Editing Rfid Reader Barcode Reader Pairing</h1>

<%= render 'form' %>

<%= link_to 'Show', @rfid_reader_barcode_reader_pairing %> |
<%= link_to 'Back', rfid_reader_barcode_reader_pairings_path %>
