// Place all the styles related to the Hospitals controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hospitals-container {

  .location-section {

    width: 100%;
    padding: 30px;

    .centered-header {
      text-align: center;
    }

    .location-list {
      width: 100%;
      margin: auto;

      .location-header-row {
        padding: 10px;
        border-bottom: 3px #eee solid;
        width: 90%;
        margin: auto;
      }

      .location-link {
        color: #000;

        .location-row {
          cursor: pointer;
          padding: 10px;
          border-bottom: 1px #eee solid;
          width: 90%;
          margin: auto;

          &:hover {
            background-color: #CCFFCC;
          }

          .location-cell {
          }
        }
      }
    }
  }
}