// Place all the styles related to the Trackables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.trackables-container {
  width: 500px;
  margin: auto;

  .centered-header {
    text-align: center;
  }

  .currently-at {
    margin: 30px 0 10px 0;
    align: right;
  }

  .alert {
    opacity: 0;
    -webkit-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    transition: opacity 1s linear;
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin: -20px 0 20px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
  }

  .update-timeline {

    margin: 0 0 50px 0;

    .go-back-button {
      margin: 15px 0 0 0;
      float: right;
      color: #666;
      font-weight: 200;
      font-size: 15px;

      a {
        color: #000;
        &:hover {
          color: #000;
        }
      }
    }

    .update-bubble {
      position: relative;
      border: 2px solid #999;
      line-height: 35px;
      margin-top: -2px;
      background-color: #fff;
      z-index: 2;
      padding-left: 15px;
      font-size: 16px;
    }

    .update-bubble:first-child {
      margin-top: 0;
    }

    .update-bubble:first-child:before {
      display: none;
    }

    .update-time {
      position: absolute;
      bottom: 0;
      right: 20px;
      font-size: 12px;
    }
  }
}